*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
#header{
min-height: 85px;
width: 100%;
background: #3a3a3a;
z-index: 1;
}
#header .logo-left{   
      float: left;
}
#header .logo-1{
    width: 187px;
    height: 47px; 
    margin-top: 10% ;
    margin-left: 90%;
}
#header .logo-right{
    float:right;
    line-height: 85px;
    color: #fff;
    font-size: 20px;
}
.logo-right{
    margin-right: 10%;
}
.logo-right a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
.logo-right i[class*="ti-"]::before{    
    padding: 5px;
    
}
.logo-3{
    width: 94px;
    height: 32px;    
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
#nav-bar{
    text-align: center;
    background-color: #000;
    height: 56px;
    width: 100%;    
}
#nav-bar>li{
    display: inline-block;
}
#nav-bar li{
    list-style: none;
    position: relative;
}
#nav-bar li a{
    color: #fff;
    text-decoration: none;
    line-height: 56px;
    padding: 0 16px;
   display: block;
   font-size: 14px;
}
#nav-bar>li:hover>a{
    color: rgba(255,255,255,0.8);
}

#nav-bar .nav-iPhone li:hover a{
    background-color: rgba(255,255,255,0.4);
    
}
#nav-bar li:hover .nav-iPhone{
    display: block;
}
#nav-bar .nav-iPhone{
    /* width: 100%; */
    display: none;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 100%;
    min-width: 250px;
}

#nav-bar .nav-iPhone a{
    color: fff;
    padding: 0 16px;
    font-size: 14px;
}

#nav-bar #search{
    padding: 4px;
}
#nav-bar #search-btn{
    padding: 4px;
    margin-left: -1px;
}

#content{
    /* margin-top: 142px; */    
    padding-top: 40%;
background: url(./images/download.jpg) top center/cover no-repeat;
}
#content_1{
    padding-top: 40%;
    background: url(./images/apple-fall-event-2021.jpeg) top center/cover no-repeat;
}
#content_2{
    padding-top: 40%;
    background: url(./images/phone.jpg) top center/cover no-repeat;
}
#list-sanPham{
    margin-top: 60px;
    width: 100%;
    text-align: center;
}
#list-sanPham .sanPham{
    display: inline-block;
    width: 360px;
    height: 300px;
    padding: 0px 30px; 
    border-radius: 30px;
    background-color: #f2f2f2;
    position: relative;
    /* display: block; */
    margin:0px 20px 100px 20px;
}
#list-sanPham .text-sanPham{
    position: absolute;
    left: 150px;    
    bottom: -50px; 
    text-decoration: none; 
    font-weight: bolder;  
    font-size: 24px;
    color: #000;
}
#list-sanPham .sanPham-km-img{
    width: 300px;
    height: 300px;
}
#slider{
    padding-top: 35%;
    background: url(./images/Desktop-Ưu-dãi-nhân-viên-2048x939.png) top center/cover no-repeat;
    position: relative;
}
#slider .text-slider{
    position: absolute;
    color: #fff;
    top: 10%;
    left: 5%;
    line-height: 1.6;
    font-size: 18px;
}
.text-slider>.btn-lh{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 200px;
    font-size: 18px;
}
#news{
   width: 100%;
    text-align: center;
}
#news .list-news{
    display: inline-block;
    padding:0px 20px;
}
#news>h1{
    padding: 24px;
}
#news .text-news{
font-size: 18px;
font-weight: bold;
margin-top: 20px;
}
#feature{
    margin-top: 32px;
    text-align: center;
    width: 100%;
    
}
#feature .feature-n{
    display: inline-block;
    font-size: 60px;
    padding: 0px 20px;    
    position: relative;    
}
#feature .feature-n>a>i{
    color: #000;
}
#feature .text-feature{
    /* position: absolute;
    bottom:-50px;    
    left: 95px; */
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    color: #000;  
    display: block;
    margin-top: 20px;  
}

#feature .sub-feature{
    /* position: absolute;
    bottom:-70px;    
    left: 95px; */
    font-size: 16px;    
    color: #000;  
    margin-top: 10px;      
}
#introduce{
    margin-top: 30px;
    
    
}
#introduce .intro-img{
    border-radius: 10px;
    margin-left: 10%;

}
#introduce .text-intro{
    line-height: 1.6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
#service{
/* text-align: center; */
margin-top: 20px;
margin-left: 10%;
margin-right: 10%;
}
#service .text-service{
    float: left;
    width: calc(100%/5);  
    margin-top: 0%;   
}
#service .text-service li{
    list-style-type:none;
}
#service .text-service a{
    text-decoration: none;
    line-height: 3;
    font-weight: 500;
    color: #000;
    font-size: 14px;
   
}
#service .text-service>p{
    font-size: 24px;
    font-weight: 600;
}
#service .register-service{
    float: left;
    width: calc(2*(100%/5));
    padding-left: 20px;
}
.register-service .register-email{
    padding: 12px 16px;
    border-radius:5px 0 0 5px;
    width: 50%;
    font-size: 16px;
    
}
.register-service  .register-btn{
    width: 30%;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    padding: 12px 16px;
    border-radius:0 5px 5px 0;
    margin-left: -5px;       
}
.register-service .register-icons{
    font-size: 24px;
    display: block;    
}
.register-service .register-icons>i{
    padding: 4px 16px;   
}

#footer{
text-align: center;
line-height: 1.6;
font-size: 14px;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);   
    text-align: right;
    justify-content: right;   
    display: none;
}
.sub-modal{
    background: #fff;
    width: 350px;
    height: auto;
    text-align: right;
    
}
.modal .content-modal{
    margin-top: 32px;
}
.modal a{
    text-decoration: none;
}
.modal .ti-close{
    margin-top: 40px;
    font-size: 24px;
    padding: 10px;
    align-items: center;
    
}
/* .modal .ti-close:hover{
    pointer-events: fill ;
} */
.modal.open{
    display: flex;
}